
<!DOCTYPE html>
<html lang="en">
<head>
  <title>LOGIN API</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  {% load static%}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <a href="{% url "home" %}">Login </a>
    </form>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>


<!--sabpaisa-->
<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% load static%}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login Form</title>
</head>

<body>
    <div class="container">

        <div class="logo"><img src="./Outlook-Company lo.png" alt="SAB paisa"></div>

        <h1>Login Form</h1>
        <div class="form">
            <form id="loginForm">

                <div class="input">
                    <input type="text" id="username" name="username" placeholder="Username" required> <i
                        class='bx bxs-user'></i>
                    <br><br>
                </div>

                <div class="input">
                    <input type="password" id="password" name="password" placeholder="Password" required> 
                    <br><br>
                </div>
                
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Forgot password</a>
                </div>

                <button class="btn" type="submit">Login</button>
            </form>
        </div>
        <div id="message"></div>

    </div>

    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>
-->